@media (min-width: 992px) {
    .logo {
      position: relative;
    }
    .logo2 {
        display: none;
    }
    
  }
@media (max-width: 991.98px) {
    .navbar-collapse {
        position: relative;
        left: 500px;
    }
    .logo {
        display: none;
    }
    .navbar-brand {
        display: none;
    }
    .nav-link {
        display: flex;
        padding: 0.5rem 1rem;
        margin: 0 0.25rem;
        text-decoration: none;
        font-size: 1.2rem;
        transition: color 0.3s ease-in-out;
    }
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .d-flex {
        width: 35%;
        align-self: start;
    }
    .navbar-nav {
        display: flex;
        position: relative;
        margin: 0;
        width: 40%;
        font-size: 16px;
        margin-right: 0;
        justify-content: space-evenly;
    }
    .navbar-nav.show {
        display: flex;
        flex-direction: column;
    }
    .dropdown-menu.show {
        display: flex;
        width: 40%;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
}
.navbar-brand {
    color: pistachio;
}
.d-block {
    width:100%;
}
.carousel-item{
    position: relative;
    width: 100%;
}
@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.nav-link:hover {
    color: #dc3545;
  }
.flex-box {
    display: flex;
    position: relative;
}
.navbar {
    height: 110px;
}
.navbar-nav {
    font-family: 'Cafe24Danjunghae';

}
.navbar-brand {
    font-family: 'Cafe24Danjunghae';

}
.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-style: normal;
}
.navbar{
    text-align: center;
    display: flex;
}

.d-flex {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}
.logo{
    position: relative;
    align-self: center;
    width: 18%;
    height: 80px;
}
.logo2 {
    margin-top: 10px;
    width: 30%;
}

/* #carouselExampleControls.slide-down {
    transform: translateY(255px);
    transition: transform 0.3s ease-in-out;
} */

#carouselExampleControls.slide-down {
    margin-top: 255px !important;
    transition: margin-top 1s ease-in-out;
}
#carouselExampleControls {
    position: relative;
}
.line{
    height: 49px; 
    background-color: aqua;
    margin-top: 0%;
}
   
hr{
    margin: 0rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 움직이는 텍스트 */
.animated-title { width: 100%; max-width:100%;  padding:56px 0; padding-bottom: 0%; overflow-x: hidden;  }
.animated-title .track {position: absolute; white-space: nowrap; animation: marquee 60s linear infinite; }
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
.animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
    }
    .animated-title {
        font-size: 40px;
        font-family: 'KyoboHandwriting2021sjy';
        font-weight: 300;
        position: relative;
        width: 100%;
        max-width: 100%;
        /* height: 12px; */
        /* margin-top: 10px; */
        /* margin-bottom: -25px; */
        /* padding: 35px 0; */
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: rgb(252, 227, 227);
    }
