@media (min-width: 992px) {
    .logo {
      position: relative;
      right: 5%;
    }
    .logo2 {
        display: none;
        width:;
    }
  }
@media (max-width: 991.98px) {
    .navbar-collapse {
        position: relative;
        left: 500px;
    }
    .logo {
        display: none;
    }
    .navbar-brand {
        display: none;
    }
    .nav-link {
        display: flex;
        padding: 0.5rem 1rem;
        margin: 0 0.25rem;
        color: #212529;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        transition: color 0.3s ease-in-out;
    }
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        
    }
    .d-flex {
        width: 900px;
        align-self: start;
    }
    .navbar-nav.show {
        display: flex;
        flex-direction: column;
      }
}
.d-block {
    width:100%;
}
.carousel-item{
    display: ;
    position: relative;
    width: 100%;
}
@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.nav-link:hover {
    color: #dc3545;
  }
.flex-box {
    display: flex;
    position: relative;
}
.navbar {
    height: 100px;
}
.navbar-brand {
    font-family: 'Cafe24Danjunghae';

}
.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar-nav{
    position: relative;
    align-self: center;
    margin: 1px;
    display: flex;
    width: 40%;
    font-family: 'Cafe24Danjunghae';
    font-size: 16px;
    margin-right: 27%;
    /* margin-top: 60px; */
}
.logo{
    position: relative;
    align-self: center;
    height: 80px;
}
@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-style: normal;
}
.navbar{
  text-align: center;
  display: flex;
}
.font1{
    font-family: 'EF_jejudoldam';
    font-size: 90px;
    color:rgb(110, 164, 245);
    margin-top: 15%;
    margin-left: -8%;
    text-align: center;
    float: left;
}
.box1{
    width: 55%;
    height: 100%;
    margin-left: -8%; 
    margin-top: -10%;
    float: left;
}

.box2{
    width: 900px;
    height: auto;
    background-color: rgb(110, 164, 245);
    float: left;
}
.d-flex {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}
.logo2 {
    margin-top: 10px;
    width: 30%;
}

#carouselExampleControls.slide-down {
    margin-top: 255px;
    transition: margin-top 0.3s ease-in-out;
  }
