main {
    display: flex;
    margin-top: 90px;
}
.myform{
    background-color: aliceblue;
    text-align: center;
    width: 600px;
    height: 650px;
    border-radius: 25px;
    margin: auto;
    animation: fadeInDown 1s;
}
form {
    width: 90%;
    margin: auto;
    text-align: center;
}
body {
    background-image: url('./image/loginback.png');
    background-size: cover;
}
input {
    margin-top: 10px;
    background: transparent;
    border-right:0px; 
    border-top:0px; 
    border-left:0px;
    padding: 2px 3px;
}
button {
      width: 150px;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
      border: 0px;
      box-shadow: 3px 3px;
      background-color: #46649B;
      margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 4px;
}
button:hover{
    color : black;
}
.submittext {
    color:white;
    font-family: 'Cafe24Danjunghae';
    margin-top:10px;
    text-align: center;
}

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.logo{
            
    font-family: 'Cafe24Danjunghae';
    font-size: 50px;
}
a {
    color: #46649B;
}
a:hover {
    color: #f9a19d;
}
.signup {
    margin-top: 10px;
}
.su {
    text-decoration-line: none;
}

.naver {
    border-radius: 3px;
    background-color: #00c13a;
    width: 200px;
    height : 40px;
    text-align: center;
    color:white;
    padding-top: 10px;
    margin:auto;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2); 
    box-shadow: 3px 3px gray;  
}
.kakao {
    margin:auto;
    border-radius: 3px;
    background-color: #f9e81e;
    width: 200px;
    height : 40px;
    text-align: center;
    color:white;
    padding-top: 10px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 3px 3px gray;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}